pip install numpy
pip install librosa
pip install torch
pip install transformers
pip install moviepy
pip install soundfile
pip install scipy
pip install huggingface_hub
pip install imageio
pip install imageio-ffmpeg