numpy==1.26.4
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
transformers==...
moviepy==1.0.3
librosa
soundfile
matplotlib
opencv-python==4.10.0.84
scipy
tqdm
ffmpeg-python
huggingface-hub
accelerate
